.wyr-container {
  background: linear-gradient(
    90deg,
    rgba(1, 219, 255, 1) 0%,
    rgba(246, 9, 23, 1) 100%
  );
}
.wyr-container .right-col {
  border-left: 2px solid #fff;
}
.wyr-container .left-col {
  border-right: 2px solid #fff;
  position: relative;
}

.wyr-container h1 {
  color: rgb(255, 255, 255);
  width: 70%;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}

.wyr-container .circle {
  position: absolute;
  top: calc(50% - 33px);
  left: calc(100% - 34px);
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--clr-primary);
}

/* --------------------------------------- */

.switch-choice-type button {
  position: absolute;
  top: calc(30% - 33px);
  left: calc(100% - 34px);
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--clr-primary);
  border: 1px solid rgba(173, 173, 173, 0.253);
  text-transform: uppercase;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  transition: translateY 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.switch-choice-type button:hover {
  transform: translateY(-10%) scale(1.05);
}
.percentage-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 1.8rem; */
}

.percentage-container * {
  /* font-size: 3.5rem; */
  color: var(--clr-primary);
  text-shadow: 0px 0px 25px rgba(251, 251, 251, 0.714);
  font-weight: 600;
  -webkit-text-stroke: 0.2px rgba(0, 255, 225, 0.553);
  text-align: center;
  border-bottom: 0;
  font-size: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wyr-container .left-col h1,
.wyr-container .right-col h1 {
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wyr-container .left-col:hover h1,
.wyr-container .right-col:hover h1 {
  transform: scale(1.06);
}
