<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="wyr-container">
    <section class="body-container mx-auto h-100 px-0">
      <div class="row h-100">
        <!-- Colonna sinistra -->
        <div
          class="col-md-6 d-flex align-items-center justify-content-start left-col ps-3"
        >
          <!-- SWITCH CHOICE TYPE GENERATION -->
          <div class="switch-choice-type">
            <button
              (click)="switchChoicesType()"
              pTooltip="{{ getTooltipText() }}"
              tooltipPosition="right"
            >
              {{ currentChoices }}
            </button>
          </div>

          <h1 class="left-choice-txt mb-0">
            {{ jsonData?.question_text1 }}
          </h1>
          <!-- or circle -->
          <div class="circle">
            <span id="or-text">OR</span>
          </div>
        </div>
        <!-- Colonna destra -->
        <div
          class="col-md-6 d-flex align-items-center justify-content-end right-col pe-3"
        >
          <h1 class="right-choice-txt mb-0">
            {{ jsonData?.question_text2 }}
          </h1>
        </div>
      </div>
    </section>
    <button class="btn btn-primary" (click)="updateData()">Aggiorna</button>
  </body>
</html>
