<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="wyr-container">
    <section class="body-container mx-auto h-100 px-0">
      <h1 class="title">Would You Rather</h1>

      <div class="row h-100 me-0">
        <!-- Colonna sinistra -->
        <div
          class="left-column col-12 col-md-6 d-flex align-items-center justify-content-center left-col ps-0 pe-0 ps-md-3 flex-column cursor-pointer"
          (click)="updateData(1)"
        >
          <!-- SWITCH CHOICE TYPE GENERATION -->
          <div class="switch-choice-type">
            <button
              (click)="switchChoicesType()"
              pTooltip="{{ getTooltipText() }}"
              tooltipPosition="right"
            >
              {{ currentChoices }}
            </button>
          </div>

          <h1 class="left-choice-txt mb-0" *ngIf="!loading">
            {{ jsonData?.question_text1 }}
          </h1>
          <p *ngIf="loading" class="loading-text">
            Loading<span class="dots"
              ><span>.</span><span>.</span><span>.</span></span
            >
          </p>
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="5"
            animationDuration=".5s"
            *ngIf="loading"
          ></p-progressSpinner>
          <!-- percentuale -->
          <div class="percentage-container">
            <span class="percentage" id="percentage1"
              >{{ displayedPercentage1 }}%</span
            >
          </div>
          <!-- //agreeing tot -->
          <h3 class="agreeing-tot"></h3>
          <!-- or circle -->
          <div class="circle">
            <span id="or-text">OR</span>
          </div>
        </div>
        <!-- Colonna destra -->
        <div
          class="right-column col-12 col-md-6 d-flex flex-column align-items-center justify-content-center right-col pe-0 pe-md-3 cursor-pointer"
          (click)="updateData(2)"
        >
          <h1 class="right-choice-txt mb-0" *ngIf="!loading">
            {{ jsonData?.question_text2 }}
          </h1>
          <p *ngIf="loading" class="loading-text">
            Loading<span class="dots"
              ><span>.</span><span>.</span><span>.</span></span
            >
          </p>
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="5"
            animationDuration=".5s"
            *ngIf="loading"
          ></p-progressSpinner>
          <!-- percentuale -->
          <div class="percentage-container">
            <span class="percentage" id="percentage1"
              >{{ displayedPercentage2 }}%</span
            >
          </div>
          <!-- //agreeing tot -->
          <h3 class="agreeing-tot"></h3>
        </div>
      </div>
    </section>
  </body>
</html>
