<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body id="gtfPage" class="gtf gtf-container">
    <section class="body-container mx-auto px-0 pt-5">
      <div
        class="row title-dropdown-menu-container d-flex justify-content-between"
      >
        <h1 class="col-12 col-md-6">Guess the Fact</h1>
        <div class="col-12 fit-content col-md-6 options-container">
          <p-dropdown
            pTooltip="Change the AI Generated statements language"
            tooltipPosition="left"
            class="shorter me-3 pe-0"
            [options]="languages"
            [(ngModel)]="selectedLanguage"
            optionLabel="name"
            [showClear]="true"
            placeholder="Change Language"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="d-flex align-items-center gap-2"
                *ngIf="selectedLanguage"
              >
                <img
                  src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + selectedLanguage.code.toLowerCase()"
                  style="width: 18px"
                />
                <div>{{ selectedLanguage.name }}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + country.code.toLowerCase()"
                  style="width: 18px"
                />
                <div>{{ country.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <!-- //-----------TOPICS---------------------------------- -->
          <p-dropdown
            pTooltip="Change the topic of the statements"
            tooltipPosition="bottom"
            [options]="topics"
            [(ngModel)]="selectedTopic"
            optionLabel="name"
            placeholder="Select a Topic"
          ></p-dropdown>
        </div>
      </div>
      <h2>
        Welcome to "Guess the Fact," where knowledge meets fun!<br />
        In this exciting game, you'll be presented with a series of intriguing
        statements, but there's a twist - only one of them is true! Select the
        only correct one.
      </h2>
      <h3 class="mt-2 mt-md-5 bold text-center topic-name">
        <span>{{ selectedTopic?.name }}</span>
      </h3>
      <div class="row facts-container justify-content-center px-2">
        <div class="col-md-6 card-col pe-md-4">
          <article
            id="factBox1"
            class="fact-box d-flex justify-content-center"
            (click)="answerSelected('factBox1')"
          >
            <span class="fact-chip"> Fact 1</span>
            <p>{{ jsonData?.question_text1 }}</p>

            <!-- -----------------SPINNER--------------------- -->
            <div>
              <p *ngIf="loading" class="loading-text mx-auto w-100">
                Loading<span class="dots"
                  ><span>.</span><span>.</span><span>.</span></span
                >
              </p>
              <p-progressSpinner
                class="mx-auto"
                styleClass="w-4rem h-4rem"
                strokeWidth="5"
                animationDuration=".5s"
                *ngIf="loading"
              ></p-progressSpinner>
            </div>
            <!-- --------------------------------------------- -->

            <div id="icon-box1" class="icon-box">
              <fa-icon class="correct-icon" [icon]="faCheck"></fa-icon>
              <fa-icon class="wrong-icon" [icon]="faXCheck"></fa-icon>
            </div>
          </article>
        </div>
        <div class="col-md-6 card-col ps-md-4">
          <article
            id="factBox2"
            class="fact-box d-flex justify-content-center"
            (click)="answerSelected('factBox2')"
          >
            <span class="fact-chip"> Fact 2</span>
            <p>
              {{ jsonData?.question_text2 }}
            </p>
            <!-- -----------------SPINNER--------------------- -->
            <div>
              <p *ngIf="loading" class="loading-text mx-auto w-100">
                Loading<span class="dots"
                  ><span>.</span><span>.</span><span>.</span></span
                >
              </p>
              <p-progressSpinner
                class="mx-auto"
                styleClass="w-4rem h-4rem"
                strokeWidth="5"
                animationDuration=".5s"
                *ngIf="loading"
              ></p-progressSpinner>
            </div>
            <!-- --------------------------------------------- -->
            <div id="icon-box2" class="icon-box">
              <fa-icon class="correct-icon" [icon]="faCheck"></fa-icon>
              <fa-icon class="wrong-icon" [icon]="faXCheck"></fa-icon>
            </div>
          </article>
        </div>
        <div class="col-md-6 card-col pe-md-4">
          <article
            id="factBox3"
            class="fact-box d-flex justify-content-center"
            (click)="answerSelected('factBox3')"
          >
            <span class="fact-chip"> Fact 3</span>
            <p>
              {{ jsonData?.question_text3 }}
            </p>
            <!-- -----------------SPINNER--------------------- -->
            <div>
              <p *ngIf="loading" class="loading-text mx-auto w-100">
                Loading<span class="dots"
                  ><span>.</span><span>.</span><span>.</span></span
                >
              </p>
              <p-progressSpinner
                class="mx-auto"
                styleClass="w-4rem h-4rem"
                strokeWidth="5"
                animationDuration=".5s"
                *ngIf="loading"
              ></p-progressSpinner>
            </div>
            <!-- --------------------------------------------- -->
            <div id="icon-box3" class="icon-box">
              <fa-icon class="correct-icon" [icon]="faCheck"></fa-icon>
              <fa-icon class="wrong-icon" [icon]="faXCheck"></fa-icon>
            </div>
          </article>
        </div>
        <div class="col-md-6 card-col ps-md-4">
          <article
            id="factBox4"
            class="fact-box d-flex justify-content-center"
            (click)="answerSelected('factBox4')"
          >
            <span class="fact-chip"> Fact 4</span>
            <p>
              {{ jsonData?.question_text4 }}
            </p>
            <!-- -----------------SPINNER--------------------- -->
            <div class="r">
              <p *ngIf="loading" class="loading-text mx-auto w-100">
                Loading<span class="dots"
                  ><span>.</span><span>.</span><span>.</span></span
                >
              </p>
              <p-progressSpinner
                class="mx-auto"
                styleClass="w-4rem h-4rem"
                strokeWidth="5"
                animationDuration=".5s"
                *ngIf="loading"
              ></p-progressSpinner>
            </div>
            <!-- --------------------------------------------- -->
            <div id="icon-box4" class="icon-box">
              <fa-icon class="correct-icon" [icon]="faCheck"></fa-icon>
              <fa-icon class="wrong-icon" [icon]="faXCheck"></fa-icon>
            </div>
          </article>
        </div>
        <!-- //container of explanationa nd buuttons -->
        <div class="w-100 d-flex flex-column align-items-center">
          <section id="explanation" class="explanation scale-transition">
            <span class="bold clr-primary">Explanation:</span>
            <p class="mb-0">
              {{ jsonData?.explanation }}
            </p>
          </section>
          <!-- confirm answer btn -->
          <p-button
            id="confirmBtn"
            label="Confirm Answer"
            icon="pi pi-check"
            iconPos="right"
            class="confirm-btn d-none"
            styleClass=" p-button-outlined"
            (click)="confirmAnswer()"
          ></p-button>
          <!-- next question btn  -->
          <p-button
            id="nextQuestionsBtn"
            label="Next Questions"
            icon="pi pi-arrow-circle-right"
            iconPos="right"
            class="next-question-btn d-none"
            styleClass="p-button-outlined p-button-primary p-button-info"
            (click)="nextQuestions()"
          ></p-button>
        </div>
      </div>
    </section>
  </body>
</html>
