.logo {
  width: 40px;
}

nav {
  padding-block: 1rem;
  padding-inline: var(--p-content-global);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 2;
  transition: color 0.3s ease; /* This ensures a smooth transition over 300ms */
  color: black;
}

.nav-all-container {
  max-width: var(--max-content-w);
  margin-inline: auto;
}

.logo-container {
}
