.logo {
  width: 40px;
}

nav {
  padding-block: 1rem;
  padding-inline: var(--p-content-global);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 999;
  transition: color 0.3s ease; /* This ensures a smooth transition over 300ms */
  color: black;
}

.nav-all-container {
  max-width: var(--max-content-w);
  margin-inline: auto;
}

.user-icon {
  background-color: var(--clr-primary);
  padding: 0.9rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.user-icon:hover {
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.297);
}

.user-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-info .user-name {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.773);
}
