<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="body-container mx-auto">
      <section class="hero-section d-flex">
        <div class="col-md-6">
          <h1 class="bolder">Daily Quiz, Daily Bonus - Play today</h1>
          <h2>
            {{ siteName }} is the daily Trivia challenges and quiz playing
            platform. It brings some exciting surprises every day.
          </h2>
          <a
            class="main-btn mt-4"
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
          >
            <fa-icon [icon]="playIcon" class="playIcon"></fa-icon>
            <span class="bold text-white">Play Now</span>
          </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img
            src="assets/images/flag-yellow.png"
            alt="Logo"
            class="img-fluid hero-image"
          />
        </div>
      </section>
      <!-- ========================================================= -->
      <section class="top-games-showcase d-flex">
        <div class="col-md-4 showcase-left-col">
          <div class="text-wrap">
            <h3 class="text-white text-center bold">Most popular Games</h3>
            <p>Choose the option and go to the game of your choice</p>
          </div>
        </div>
        <div
          class="col-md-8 showcase-right-col d-flex flex-column justify-content-evenly px-4 py-5 gap-4"
        >
          <a href="#" class="card">
            <div class="title-wrap">
              <img class="game-logo" src="assets/images/wyr.png" alt="" />
              <span class="game-title">Would You Rather</span>
            </div>
            <span class="start"
              >Start Now <fa-icon [icon]="arrowRight"></fa-icon>
            </span>
          </a>
          <a href="#" class="card">
            <div class="title-wrap">
              <img class="game-logo" src="assets/images/dpaw.webp" alt="" />
              <span class="game-title">Daily Play & Win</span>
            </div>
            <span class="start"
              >Start Now <fa-icon [icon]="arrowRight"></fa-icon>
            </span>
          </a>
          <a href="#" class="card">
            <div class="title-wrap">
              <img class="game-logo" src="assets/images/wwydf.jpg" alt="" />
              <span class="game-title">What Would You Do For...</span>
            </div>
            <span class="start"
              >Start Now <fa-icon [icon]="arrowRight"></fa-icon>
            </span>
          </a>
        </div>
      </section>

      <!-- ----------------------------------------------- -->
    </div>
  </body>
</html>
