<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrazione</title>
    <link rel="stylesheet" type="text/css" href="../login/util.css" />
  </head>
  <body>
    <div class="limiter">
      <div
        class="container-login100"
        style="background-image: url('/assets/images/bg-01.png')"
      >
        <div class="box-shadow wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
          <p-messages></p-messages>

          <div class="login100-form validate-form flex-sb flex-w">
            <span class="login100-form-title p-b-53"> Sign up with </span>

            <a href="#" class="btn-face m-b-20">
              <i class="fa fa-facebook-official"></i>
              Facebook
            </a>

            <a
              href="https://expressquizzbackend-production.up.railway.app/auth/google"
              class="btn-google m-b-20"
            >
              <img src="assets/icons/icon-google.png" alt="GOOGLE" />
              Google
            </a>
            <section class="d-flex align-items-center gap-3">
              <div>
                <div class="p-t-31 p-b-9">
                  <span class="txt1 bold"> First Name </span>
                </div>
                <div
                  class="wrap-input100 validate-input"
                  [ngClass]="{
                    'has-error': fieldTouched.name && !userData.name
                  }"
                  data-validate="Nome is required"
                >
                  <input
                    required
                    [(ngModel)]="userData.name"
                    class="input100"
                    type="text"
                    name="name"
                    (blur)="fieldTouched.name = true"
                  />
                  <span class="focus-input100"></span>
                </div>
                <small
                  id="name-error"
                  class="p-error"
                  *ngIf="fieldTouched.name && !userData.name"
                >
                  Il campo Nome è obbligatorio.
                </small>
              </div>
              <!-- Cognome -->
              <div>
                <div class="p-t-31 p-b-9">
                  <span class="txt1 bold"> Last Name </span>
                </div>
                <div
                  class="wrap-input100 validate-input"
                  [ngClass]="{
                    'has-error': fieldTouched.surname && !userData.surname
                  }"
                  data-validate="Cognome is required"
                >
                  <input
                    required
                    [(ngModel)]="userData.surname"
                    class="input100"
                    type="text"
                    name="surname"
                    (blur)="fieldTouched.surname = true"
                  />
                  <span class="focus-input100"></span>
                </div>
                <small
                  id="surname-error"
                  class="p-error"
                  *ngIf="fieldTouched.surname && !userData.surname"
                >
                  Il campo Cognome è obbligatorio.
                </small>
              </div>
            </section>
            <div class="">
              <div class="p-t-13 p-b-9">
                <span class="txt1 bold"> Nationality </span>
              </div>
              <div class="wrap-input-custom validate-input">
                <p-dropdown
                  [options]="nations"
                  [(ngModel)]="selectedNation"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  placeholder="Select a Nation"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="d-flex align-items-center gap-2"
                      *ngIf="selectedNation"
                    >
                      <img
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="
                          'flag flag-' + selectedNation.code.toLowerCase()
                        "
                        style="width: 18px"
                      />
                      <div>{{ selectedNation.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-nation pTemplate="item">
                    <div class="d-flex align-items-center gap-2">
                      <img
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + nation.code.toLowerCase()"
                        style="width: 18px"
                      />
                      <div>{{ nation.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <span class="focus-input100"></span>
              </div>
              <small
                id="nationality-error"
                class="p-error"
                *ngIf="
                  fieldTouched.nationality &&
                  (!selectedNation || !selectedNation.code)
                "
              >
                Il campo Nazionalità è obbligatorio.
              </small>
            </div>

            <div class="">
              <div class="p-t-13 p-b-9">
                <span class="txt1 bold"> Email </span>
              </div>
              <div
                class="wrap-input100 validate-input"
                [ngClass]="{
                  'has-error': fieldTouched.email && !userData.email
                }"
                data-validate="Email is required"
              >
                <input
                  required
                  [(ngModel)]="userData.email"
                  class="input100"
                  type="email"
                  name="email"
                  (blur)="fieldTouched.email = true"
                />
                <span class="focus-input100"></span>
              </div>
              <small
                id="email-error"
                class="p-error"
                *ngIf="fieldTouched.email && !userData.email"
              >
                Il campo Email è obbligatorio.
              </small>
            </div>

            <!-- Password -->
            <div class="p-t-13 p-b-9">
              <span class="txt1 bold"> Password </span>
            </div>
            <div
              class="wrap-input100 validate-input"
              [ngClass]="{
                'has-error': fieldTouched.password && !userData.password
              }"
              data-validate="Password is required"
            >
              <input
                [(ngModel)]="userData.password"
                class="input100"
                type="password"
                name="password"
                (blur)="fieldTouched.password = true"
              />
              <span class="focus-input100"></span>
            </div>
            <small
              id="password-error"
              class="p-error"
              *ngIf="fieldTouched.password && !userData.password"
            >
              Il campo Password è obbligatorio.
            </small>

            <!-- Conferma Password -->
            <div class="p-t-13 p-b-9">
              <span class="txt1 bold"> Confirm Password </span>
            </div>
            <div
              class="wrap-input100 validate-input"
              [ngClass]="{
                'has-error':
                  fieldTouched.confirmPassword && !userData.confirmPassword
              }"
              data-validate="Conferma Password is required"
            >
              <input
                required
                [(ngModel)]="userData.confirmPassword"
                class="input100"
                type="password"
                name="confirmPassword"
                (blur)="fieldTouched.confirmPassword = true"
              />
              <span class="focus-input100"></span>
            </div>
            <small
              id="confirmPassword-error"
              class="p-error"
              *ngIf="fieldTouched.confirmPassword && !userData.confirmPassword"
            >
              Il campo Conferma Password è obbligatorio.
            </small>

            <div class="container-login100-form-btn m-t-17">
              <button
                (click)="submit()"
                class="login100-form-btn"
                type="button"
              >
                Registrati
              </button>
            </div>

            <div class="w-full text-center p-t-55">
              <span class="txt2"> Sei già membro? </span>
              <a href="/login" class="txt2 bo1"> Accedi ora </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="dropDownSelect1"></div>
  </body>
</html>
